# Talkinchat Bot Configuration
BOT_ID=magror.
BOT_PWD=9988778
BOT_MASTER=al-sfeer
GROUP_TO_JOIN=مشاعر

# Extracted from the supplied Android APK
API_BASE_URL=https://chatp.net/api?
HOST_HEADER=chatp.net
SOCKET_PORT=5333
# مسارات بوابة realtime مفصولة بفاصلة عند الحاجة
WS_AUTH_MODE=app
WS_PATHS=/server
DEVICE_MANUFACTURER=Samsung
DEVICE_PRODUCT_MODEL=SM-A605
SDK=29
LANGUAGE=ar
DEVICE_ID=6aa9d94b625be080


DEBUG=1
ACK_ROOM_EVENTS=0

# Flask API
API_PORT=5000
API_DEBUG=False

# Firebase (optional)
FIREBASE_CREDENTIALS_PATH=firebase_credentials.json
